<section class="content home ">
    <div class="container">


        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 padding-5">


                <div class="inner-content">
                    <div class="inner-content-title">
                        Симуляционная модель

                        <div class="razmernost">
                            <div class="withspace">
                                <label class="eb_label" for="num">Размерность</label>
                                <select id="changenum" class="select-256" onchange="change_num()">
                                    <option value="512">512</option>
                                    <option value="256" selected="selected">256</option>
                                    <option value="128">128</option>
                                    <option value="64">64</option>
                                    <option value="32">32</option>
                                    <option value="16">16</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div id="ising">
                        <canvas id="canvas" class="styled-canvas" height="512" width="512"></canvas>
                    </div>


                    <div class="super-panel">
                        <pre class="code" id="label_time"> </pre>
                        <pre class="code" id="label_energy"></pre>
                        <pre class="code" id="label_mag"></pre>
                        <br>


                    </div>


                </div>

            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 padding-5">

                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;     margin-bottom: 10px;">
                    <div class="inner-content">

                        <div class="inner-content-title">
                            Управление симуляцией


                        </div>

                        <div>
                            <center>
                                <input type="button" id="pause" class="bottom-sim bottom-sim-active" value="Старт"
                                       onclick="update_pause()">
                                <input type="button" id="dostep" class="bottom-sim" value="Шаг" onclick="update_step()">

                                <input type="button" id="resetdata" class="bottom-sim" value="Сброс"
                                       onclick="init_measurements()">

                                <input type="button" id="restart" class="bottom-sim" style="width: 95%;"
                                       value="Рестарт модели" onclick="update_restart()">

                                {#                                    <input type="button" id="downloaddata" class="bottom-sim" value="Download data"#}
                                {#                                           onclick="download_measurements()">#}
                                {#                                    <input type="button" id="downloadgraph" class="bottom-sim" value="Download graph"#}
                                {#                                           onclick="download_graph()">#}
                                {#                                    <input type="button" id="downloadgraph" class="bottom-sim" value="Download field"#}
                                {#                                           onclick="download_field()">#}
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;     margin-bottom: 10px;">
                    <div class="inner-content">

                        <div class="inner-content-title">
                            Настройка параметров
                        </div>

                        <div class="col-sm-12 bottom-panel">
                            <label for="temp" title="Temperature">Темпeратура </label> <span
                                onclick="dotextbox(this.id)" class="eb_span" id="label_temp"></span>
                            <input style="width:100%" type="range" id="temp" min="-5" max="2" step="0.000001" value="0"
                                   oninput="update_temp()" onchange="update_temp()">

                            <input style="width: 100%;" id="label_temp_input" class="input-new-style" type="text"
                                   value="" placeholder="Точное значение"
                                   onblur="undotextbox(this.id)">
                        </div>
                        <div class="col-sm-12 bottom-panel">
                            <label for="field" title="External field">Поле</label><span onclick="dotextbox(this.id)"
                                                                                        class="eb_span"
                                                                                        id="label_field"></span>
                            <input style="width:100%" type="range" id="field" min="-5" max="5" step="0.00001"
                                   value="0.0" oninput="update_field()" onchange="update_field()">

                            <input style="width: 100% " id="label_field_input" class="input-new-style" type="text"
                                   value="" placeholder="Точное значение"
                                   onblur="undotextbox(this.id)">
                        </div>
                        <div class="col-sm-12 bottom-panel">
                            <label class="eb_label" for="frames" title="Samples per redraw">Временной
                                интервал</label><span onclick="dotextbox(this.id)" class="eb_span"
                                                      id="label_frames"></span>
                            <input style="width:100%" type="range" id="frames" min="-2" max="2" step="0.00001"
                                   value="0" oninput="update_frames()" onchange="update_frames()">

                            <input style="width: 100%" id="label_frames_input" class="input-new-style" type="text"
                                   value="" placeholder="Точное значение"
                                   onblur="undotextbox(this.id)">
                        </div>
                        <div class="col-sm-12 bottom-panel">
                            <label class="eb_label" for="method">Алгоритм:</label>
                            <input type="radio" name="method" onclick="update_method()" checked="true"
                                   id="method_metropolis" value="metropolis"> metropolis
                            <input type="radio" name="method" onclick="update_method()" id="method_wolff"
                                   value="wolff"> wolff
                        </div>


                    </div>
                </div>


            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 padding-5">

            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 padding-5">
                <div class="inner-content">

                    <div class="inner-content-title">
                        График


                        <div class="razmernost">
                            <div class="withspace">
                                <label class="eb_label" for="num">Тип графика</label>
                                <!--<input type='text' id='num' value=0></input>
                                <input type='button' id='changenum' value='Change' onclick='change_num()'></input>-->
                                <select id="changegraph" class="select-256" onchange="change_graph()">
                                    <option value="none">none</option>
                                    <option value="energy" selected="selected">e(t)</option>
                                    <option value="mag">m(t)</option>
                                    <!--<option value="eavg">&lt;e&gt;(t)</option>-->
                                    <!--<option value="mavg">&lt;m&gt;(t)</option>-->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="isinggraph">
                        <canvas id="canvas-graph" height="350" width="1130"></canvas>
                    </div>

                </div>
            </div>
        </div>


</section>











