{% extends "../wrapper.html" %}

{% block title %}Главная{% endblock %}


{% block content %}

<section class="content home ">
    <div class="container">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 padding-5">
                 <div class="inner-content">
                     <div style="display: block;     padding: 30px;">
                 Теоретический материал временно отсутствует.
                           </div>
            </div>

</div>
</div>
        </div>
</section>
{% endblock %}