<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>{% block title %}{% endblock %}</title>

       {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/all-themes.css' %}" type="text/css">
      <link href="{% static 'css/morrisjs/morris.css' %}" rel="stylesheet" />
    <script src="{% static 'js/pages/charts/ising_model.js' %}"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
      <link rel="icon" href="favicon.ico" type="image/x-icon">


</head>

<body class="theme-cyan">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-cyan">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Загрузка основных плагинов...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- #Float icon -->

<!-- Morphing Search  -->

<!-- Top Bar -->

<!-- #Top Bar -->
<nav class="navbar clearHeader">
    <div class="col-12">
        <div class="navbar-header"> <a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand" href="index.html">Cимуляция модели Изинга</a> </div>
        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}



     <li style="
    color: white;
    padding-right: 12px;
    border-right: 1px solid #f0f3f5;
"> Привет, {{ user.username }}</li>
 <li> <a href="/logout">Выход</a></li>

    {% else %}


      <li style="
    color: white;
    padding-right: 12px;
    border-right: 1px solid #f0f3f5;
"><a href="/login">Вход</a></li>

      <li><a href="/register">Регистрация</a></li>
    {% endif %}


        </ul>
    </div>
</nav>




{% block content %}

  {% endblock %}




<section class="content home">
    <div class="container-fluid">







{#        <div class="row clearfix">#}
{#            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#                <div class="card">#}
{#                    <div class="header">#}
{#                        <h2>New Patient <small >18% High then last month</small></h2>#}
{#                         #}
{#                    </div>#}
{#                    <div class="body">#}
{#                        <div class="stats-report">#}
{#                          <div class="stat-item">#}
{#                            <h5>Overall</h5>#}
{#                            <b class="col-indigo">70.40%</b></div>#}
{#                          <div class="stat-item">#}
{#                            <h5>Montly</h5>#}
{#                            <b class="col-indigo">25.80%</b></div>#}
{#                          <div class="stat-item">#}
{#                            <h5>Day</h5>#}
{#                            <b class="col-indigo">12.50%</b></div>#}
{#                        </div>#}
{#                        <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(63, 81, 181)" data-highlight-Line-Color="#222"#}
{#                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(63, 81, 181)" data-spot-Color="rgb(63, 81, 181, 0.7)"#}
{#                                 data-offset="90" data-width="100%" data-height="100px" data-line-Width="1" data-line-Color="rgb(63, 81, 181, 0.7)"#}
{#                                 data-fill-Color="rgba(63, 81, 181, 0.3)"> 6,1,3,3,6,3,2,2,8,2 </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#                <div class="card">#}
{#                    <div class="header">#}
{#                        <h2>Heart Surgeries <small>18% High then last month</small></h2>#}
{#                        <ul class="header-dropdown">#}
{#                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>#}
{#                                <ul class="dropdown-menu float-right">#}
{#                                    <li><a href="javascript:void(0);">Action</a></li>#}
{#                                    <li><a href="javascript:void(0);">Another action</a></li>#}
{#                                    <li><a href="javascript:void(0);">Something else here</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="body">#}
{#                        <div class="stats-report">#}
{#                          <div class="stat-item">#}
{#                            <h5>Overall</h5>#}
{#                            <b class="col-blue-grey">80.40%</b></div>#}
{#                          <div class="stat-item">#}
{#                            <h5>Montly</h5>#}
{#                            <b class="col-blue-grey">13.00%</b></div>#}
{#                          <div class="stat-item">#}
{#                            <h5>Day</h5>#}
{#                            <b class="col-blue-grey">9.50%</b></div>#}
{#                        </div>#}
{#                        <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"#}
{#                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(96, 125, 139)" data-spot-Color="rgb(96, 125, 139, 0.7)"#}
{#                                 data-offset="90" data-width="100%" data-height="100px" data-line-Width="1" data-line-Color="rgb(96, 125, 139, 0.7)"#}
{#                                 data-fill-Color="rgba(96, 125, 139, 0.3)"> 6,4,7,8,4,3,2,2,5,6,7,4,1,5,7,9,9,8,7,6 </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#                <div class="card">#}
{#                    <div class="header">#}
{#                        <h2>Medical Treatment <small>18% High then last month</small></h2>#}
{#                        <ul class="header-dropdown">#}
{#                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>#}
{#                                <ul class="dropdown-menu float-right">#}
{#                                    <li><a href="javascript:void(0);">Action</a></li>#}
{#                                    <li><a href="javascript:void(0);">Another action</a></li>#}
{#                                    <li><a href="javascript:void(0);">Something else here</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="body">#}
{#                        <div class="stats-report">#}
{#                          <div class="stat-item">#}
{#                            <h5>Overall</h5>#}
{#                            <b class="col-green">84.60%</b></div>#}
{#                          <div class="stat-item">#}
{#                            <h5>Montly</h5>#}
{#                            <b class="col-green">15.40%</b></div>#}
{#                          <div class="stat-item">#}
{#                            <h5>Day</h5>#}
{#                            <b class="col-green">5.10%</b></div>#}
{#                        </div>#}
{#                        <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"#}
{#                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(120, 184, 62)" data-spot-Color="rgb(120, 184, 62, 0.7)"#}
{#                                 data-offset="90" data-width="100%" data-height="100px" data-line-Width="1" data-line-Color="rgb(120, 184, 62, 0.7)"#}
{#                                 data-fill-Color="rgba(120, 184, 62, 0.3)"> 6,4,7,6,9,3,3,5,7,4,2,3,7,6 </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

	</div>
</section>

<div class="color-bg"></div>
<!-- Jquery Core Js -->
<script src="{% static 'js/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
<script src="{% static 'js/bundles/morphingsearchscripts.bundle.js' %}"></script> <!-- morphing search Js -->
<script src="{% static 'js/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->

<script src="{% static 'js/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script> <!-- Sparkline Plugin Js -->
<script src="{% static 'js/plugins/chartjs/Chart.bundle.min.js' %}"></script> <!-- Chart Plugins Js -->

<script src="{% static 'js/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->
<script src="{% static 'js/bundles/morphingscripts.bundle.js' %}"></script><!-- morphing search page js -->
<script src="{% static 'js/pages/index.js' %}"></script>
<script src="{% static 'js/pages/charts/sparkline.min.js' %}"></script>
</body>
</html>